In [7]:
import pandas as pd
df = pd.read_csv("instagram_data.csv")   
df.head()

,username,followers,posts,engagement_rate,verified,avg_likes,category
0,emma_watson,3500000,245,4.2,True,147000,entertainment
1,tech_daily,890000,512,2.1,False,18700,tech
2,travel_vibes,1200000,384,3.5,True,42000,travel
3,fitness_coach,650000,289,5.1,False,33150,fitness
4,foodie_adventures,2100000,678,2.8,True,58800,food

In [8]:
df.info()
df.shape
df.columns

<class 'pandas.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   username         15 non-null     str
 1   followers        15 non-null     int64
 2   posts            15 non-null     int64
 3   engagement_rate  15 non-null     float64
 4   verified         15 non-null     bool
 5   avg_likes        15 non-null     int64
 6   category         15 non-null     str
dtypes: bool(1), float64(1), int64(3), str(2)
memory usage: 867.0 bytes

Index(['username', 'followers', 'posts', 'engagement_rate', 'verified',
       'avg_likes', 'category'],
      dtype='str')

In [9]:
df.isnull().sum()

username           0
followers          0
posts              0
engagement_rate    0
verified           0
avg_likes          0
category           0
dtype: int64

In [10]:
df = df.dropna(subset=['followers'])

In [11]:
df['avg_likes_filled'] = df['avg_likes'].fillna(0)

In [12]:
df.duplicated().sum()
df = df.drop_duplicates()

In [14]:
import re

def clean_text(text):
    text = str(text).lower()                  
    text = re.sub(r'\d+', '', text)           
    text = re.sub(r'[^\w\s]', '', text)       
    text = re.sub(r'\s+', ' ', text).strip()  
    return text

df['clean_followers'] = df['followers'].apply(clean_text)

In [15]:
df['avg_likes'].value_counts()

avg_likes
58900     2
147000    1
18700     1
42000     1
33150     1
58800     1
68150     1
109200    1
57750     1
54120     1
59400     1
46640     1
29440     1
31900     1
Name: count, dtype: int64

In [16]:
df['followers'].value_counts()

followers
3500000    1
890000     1
1200000    1
650000     1
2100000    1
1450000    1
2800000    1
950000     1
1750000    1
1320000    1
2200000    1
880000     1
640000     1
1100000    1
1550000    1
Name: count, dtype: int64

In [18]:
df['engagement_rate'].value_counts()

engagement_rate
4.2    1
2.1    1
3.5    1
5.1    1
2.8    1
4.7    1
3.9    1
6.2    1
3.3    1
4.1    1
2.7    1
5.3    1
4.6    1
2.9    1
3.8    1
Name: count, dtype: int64

In [19]:
df['followers'] = df['followers'].replace({
    "avg_likes": "likes"
})

In [20]:
df.to_csv("cleaned_instagram_data.csv", index=False)

In [21]:
df_check = pd.read_csv("cleaned_instagram_data.csv")
df_check.head()

,username,followers,posts,engagement_rate,verified,avg_likes,category,avg_likes_filled,clean_followers
0,emma_watson,3500000,245,4.2,True,147000,entertainment,147000,NaN
1,tech_daily,890000,512,2.1,False,18700,tech,18700,NaN
2,travel_vibes,1200000,384,3.5,True,42000,travel,42000,NaN
3,fitness_coach,650000,289,5.1,False,33150,fitness,33150,NaN
4,foodie_adventures,2100000,678,2.8,True,58800,food,58800,NaN

In [22]:
df.isnull().sum()

username            0
followers           0
posts               0
engagement_rate     0
verified            0
avg_likes           0
category            0
avg_likes_filled    0
clean_followers     0
dtype: int64

In [23]:
df.duplicated().sum()

np.int64(0)

In [24]:
df[['followers', 'clean_followers']].head()

   followers clean_followers
0    3500000
1     890000
2    1200000
3     650000
4    2100000

In [27]:
df = df.drop(columns=['avg_likes_filled'])

In [28]:
df.columns

Index(['username', 'followers', 'posts', 'engagement_rate', 'verified',
       'avg_likes', 'category', 'clean_followers'],
      dtype='str')

In [29]:
df.isnull().sum()

username           0
followers          0
posts              0
engagement_rate    0
verified           0
avg_likes          0
category           0
clean_followers    0
dtype: int64

In [30]:
df.shape

(15, 8)

In [31]:
df.sample(5)

,username,followers,posts,engagement_rate,verified,avg_likes,category,clean_followers
8,nature_explorer,1750000,445,3.3,False,57750,nature,
4,foodie_adventures,2100000,678,2.8,True,58800,food,
14,business_tips,1550000,423,3.8,False,58900,business,
2,travel_vibes,1200000,384,3.5,True,42000,travel,
6,makeup_guru,2800000,523,3.9,True,109200,beauty,

In [32]:
df.to_csv("final_cleaned_instagram_data.csv", index=False)

In [35]:
df = df.drop(columns=['clean_followers'])

In [36]:
df.shape

(15, 7)

In [37]:
df.to_csv("final_cleaned_instagram_data.csv", index=False)

In [38]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 10)
df

,username,followers,posts,engagement_rate,verified,avg_likes,category
0,emma_watson,3500000,245,4.2,True,147000,entertainment
1,tech_daily,890000,512,2.1,False,18700,tech
2,travel_vibes,1200000,384,3.5,True,42000,travel
3,fitness_coach,650000,289,5.1,False,33150,fitness
4,foodie_adventures,2100000,678,2.8,True,58800,food
...,...,...,...,...,...,...,...
10,gaming_hub,2200000,687,2.7,False,59400,gaming
11,wellness_coach,880000,267,5.3,True,46640,health
12,art_studio,640000,234,4.6,False,29440,art
13,coffee_lover,1100000,501,2.9,True,31900,lifestyle
14,business_tips,1550000,423,3.8,False,58900,business